<div class="links">
  <a routerLink="/home">Inicio/ </a>
  <a >Lista de Notificação/ </a>
</div>

<div class="container paddingComponent">

  <section class="sectionTitle">
    <div>
      <span class="title">Notificação</span>
    </div>
    <div class="sectionTitleButton">
      <a class="btn btn-success btn-md" routerLink="/notificacao">
        <i class="fa fa-plus" aria-hidden="true"></i>
        <span class="titleComponent"> Nova Notificação</span>
      </a>
    </div>
  </section>



  <div class="input-group">
    <input type="text" class="form-control" id="descricao" placeholder="Pesquisar pela descrição..." [(ngModel)]="pesquisarValue">
    <!-- (input)="onSearchChange($event.target.value)" -->
    <div class="input-group-append">
      <button class="btn btn-outline-secondary" type="button" (click)='clickPesquisar()'>Pesquisar</button>
    </div>
  </div>
  <br>


  <div *ngIf="items!=false">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Exame</th>
          <th scope="col">Data do exame</th>
          <th scope="col">Hora do exame</th>
          <th scope="col">Quando enviou</th>
          <th scope="col">Enviado p/</th>
          <th scope="col">Confirmações</th>
          <th scope="col">Ações</th>
        </tr>
      </thead>
      <tbody>

        <tr *ngFor="let item of items ">
          <th scope="row">{{item.id}}</th>
          <td>{{item.descricao}}</td>
          <td>{{item.data | date:"dd/MM/yyyy" }}</td>
          <td>{{item.hora}}</td>
          <td>{{item.quandoenviou | date:"dd/MM/yyyy hh:mm" }}</td>
          <td>{{item.total}} Pessoas</td>
          <td> 0 Pessoas</td>
          <td>
            <button [routerLink]="['/notificacoes/detalhada',item.id]" type="button" class="btn btn-success" style="margin-right: 10px;width: 85px">Detalhar</button>
          </td>
        </tr>

      </tbody>
    </table>

    <nav *ngIf="pages!=null && pages != 1" aria-label="Page navigation example">
      <ul class="pagination justify-content-end">

        <li class="page-item" (click)="changePage(0,'ant')" [ngClass]="{disabled:currentPage==1}">
          <a class="page-link" tabindex="-1">Anterior</a>
        </li>

        <li class="page-item" *ngFor="let p of pages" (click)="changePage(p)" [ngClass]="{active:p==currentPage}">
          <a class="page-link">{{p}}</a>
        </li>


        <li class="page-item" (click)="changePage(0,'prox')" [ngClass]="{disabled:totalPages==currentPage}">
          <a class="page-link" tabindex="-1">Próximo</a>
        </li>

      </ul>
    </nav>
  </div>

  <div *ngIf="items==null" class="text-center">
    <h6>Nenhum item foi encontrado</h6>
  </div>

</div>
